.squid-config-edit {
  &-editor {
    border: calc(0.0625rem * var(--mantine-scale)) solid var(--mantine-color-dark-4);
    border-radius: var(--mantine-radius-default);
    overflow: hidden;
    transition: border-color 100ms ease;

    :has(:global(.focused)) & {
      border-color: var(--mantine-primary-color-filled);
    }

   :global( .monaco-editor),
   :global( .monaco-diff-editor),
   :global( .monaco-component) {
      --vscode-editor-background: var(--mantine-color-dark-6);
     --vscode-editorGutter-background: var(--mantine-color-dark-7);
    }
  }
}